body {
	display:flex;
	margin: 0;
	padding: 0;
	border: 0;
	background: rgb(67,34,195);
	background: radial-gradient(circle, rgba(67,34,195,0.08869485294117652) 0%, rgba(236,253,45,0.20073967086834732) 100%);;
}

.square {
	/* transition: 800ms ease; */
	box-sizing: border-box;
}

/* .sidebar { */
/* 	height: 100vw; */
/* } */
/**/
/* input { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	height: 4vw; */
/* 	width: 3vw; */
/* 	transform: rotate(270deg); */
/* } */
