body {
	display:flex;
	margin: 0;
	padding: 0;
	border: 0;
	background: rgb(67,34,195);
	background: radial-gradient(circle, rgba(67,34,195,0.08869485294117652) 0%, rgba(236,253,45,0.20073967086834732) 100%);;
}

.square {
	/* transition: 800ms ease; */
	box-sizing: border-box;
}

.floating-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	transition: 400ms;
	border: darkgoldenrod solid;
	border-radius: 5%;
	font-family: sans-serif;
	background: rgb(67,34,195);
	background: radial-gradient(circle, rgba(67,34,195,0.08869485294117652) 0%, rgba(236,253,45,0.20073967086834732) 100%);;
    width: 50vw;
	height: 50vh;
    z-index: 100;
    position: fixed;
    top: 12.5%;
    left: 25%;
}

.floating-menu:hover {
	transition: 400ms ease;
	border-radius: 15%;
}

.floating-menu:hover ~ .container > .square {
	border: 0.1px lightslategrey dotted;
}
