body {
	display:flex;
	margin: 0;
	padding: 0;
	border: 0;
	background: lightgoldenrodyellow;
	background: radial-gradient(circle, rgba(67,34,195,0.08869485294117652) 0%, rgba(236,253,45,0.20073967086834732) 100%);;
}

.square {
	box-sizing: border-box;
}

.floating-menu {
	display: none;
	/* flex-direction: column; */
	/* align-items: center; */
	justify-content: space-evenly;
	transition: 400ms;
	border: darkgoldenrod solid;
	border-radius: 5%;
	font-family: sans-serif;
	background: lightgoldenrodyellow;
	opacity: 0.9;
	/* background: radial-gradient(circle, rgba(67,34,195,0.08869485294117652) 0%, rgba(236,253,45,0.9) 100%); */
	width: 50vw;
	height: 50vh;
	z-index: 100;
	position: fixed;
	top: 12.5%;
	left: 25%;
}

.menu-div-left {
	height: 50vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.menu-div-right {
	height: 50vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.menu-div-right > button {
	width: 10%;
	height: 10%;
	
}

.menu-div-right > button:hover {
	transition: 200ms ease;
	box-shadow: 3px 6px #ccc;
}

#default {
	background: rgb(67,34,195);
	background: radial-gradient(circle, rgba(67,34,195,0.08869485294117652) 0%, rgba(236,253,45,0.20073967086834732) 100%);;
	font-size: 1vw;
}

#white {
	background-color: white;
	font-size: 1vw;
}

#black {
	background-color: black;
	font-size: 1vw;
}
.menu-div-mid {
	height: 50vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.floating-menu:hover {
	transition: 400ms ease;
	border-radius: 15%;
}

.floating-menu:hover ~ .container > .square {
	border: 0.1px lightslategrey dotted;
}



.slider-div {
	display: flex;
}

#exit {
	font-size: 1vw;
}

#reset {
	font-size: 1vw;
}

#eraser {
	cursor: pointer;
	font-size: 2vw;
	transform: rotate(90deg);
	text-decoration-line: line-through;
}

#rainbow {
	font-size: 1vw;
}

#color {
	background: none;
	outline: none;
	overflow: hidden;
	border: none;
	transition: 400ms ease;
	opacity: 0.8;
	height: 4vw;
	width: 6vw;
}

#color:hover {
	opacity: 1;
	transition: 400ms ease;
}

/* #slider-value { */
/* 	color: lightseagreen; */
/* } */

